@import "./main.css"; 

:root {
    --colorSilver: rgb(130, 130, 130, 0.3);
    --colorLemon: rgb(240, 240, 0, 0.3);
}

body {
    padding: 10px;
    height: 100%;
    width: 97vw;
}
.header, .footer {
    width: 100%;
    min-height: 300px;
}
.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.headerRMenu > span:first-child {
        text-decoration: underline;
        color: gray;
        margin-bottom: 20px;
}
.headerRMenu > span:hover:not(.menuName) {
    cursor: pointer;
}
.headerR, .headerL, .footerR, .footerL{
    display: flex;
}
.footerR, .footerL {
    justify-content: flex-end;
}
.headerRMenu > span, .footerLInfo > span, .footerRInfo > span {
    margin-bottom: 12px;
}
.headerRMenu, .footerLInfo, .footerRInfo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10%;
}
